/* Output Farben */
:root {
  --light-grey: #B3B3B3;
  --dark-grey: #4D4D4D;
  --purple: #E2007A;
  --violett: #6D1F80;
  --yellow: #FFCC00;
  --blue: #008BD0;
  --green: #97BF0D;
  --red: #E53517;

  --border: 5vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blue);
  color: var(--dark-grey);
  display: flex;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 3.5vh;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--blue);
  text-decoration: none;
}

h1 {
  font-size: 2.6em;
  margin: calc(var(--border) / 2) 0 0;
}

h2 {
  font-size: 1.6em;
}

/*Twitter Feed*/
section {
  background: #fff;
  font-size: 1.2rem;
  overflow: hidden;
  padding: var(--border);
  width: 30vw;
}

section h2 {
  color: var(--blue);
}

h2 img {
  color: var(--blue);
  float: right;
}

#feed {
  opacity: 1;
  border-bottom: 1px solid var(--light-grey);
  height: 75vh;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

li {
  margin: calc(var(--border) / 2) 0;
}

span[data-scribe="element:name"],
img[data-scribe="element:avatar"],
.interact,
.timePosted {
  display: none;
}

/*Event Darstellung*/
main {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: var(--border);
  width: 70vw;
}

#information {
  padding: calc(var(--border) / 2) 0 0 ;
  width: 85%;
}

#description {
  margin: 0 0 calc(var(--border) / 2);
}

.logo {
  display: flex;
  height: var(--border);
  justify-content: flex-end;
}

.cube {
  bottom: var(--border);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: var(--border);
}

.cube object {
  height: calc(var(--border) * 3);
}

@media (max-device-width: 420px) {
  section {
    display: none;
  }

  main {
    padding: calc(var(--border) * 2) var(--border);
    width: 100vw;
  }

  #information {
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }
}

